.shadesbutton {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.quotesform {
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 20px 0px;
  border-radius: 10px;
  margin-bottom: 35px;
  background: whitesmoke;
  border: 1px solid grey;
}
.propAddress {
  width: 28rem;
  padding: 2rem;
  height: 13rem;
  border-radius: 10px;
  border: 1px solid grey;
  background: whitesmoke;
}
